{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
  <li><a href="/admin">管理首页</a></li>
  <li><a href="/admin/user"><span>添加文章</span></a></li>
</ol>

<h3>添加文章</h3> 

<form method="POST" action="/admin/content/add">
  <div class="form-group">
    <label for="tag">文章分类</label>
    <select name="tag" id="tag" class="form-control">

      {% for tag in tags %}
      <option value="{{ tag._id.toString() }}">{{ tag.name }}</option>
      {% endfor %}

    </select>
  </div>
  <div class="form-group">
    <label for="title">文章标题</label>
    <input type="text" class="form-control" id="name" placeholder="请输入文章标题" name="title">
  </div>
  <div class="form-group">
    <label for="description">文章简介</label>
    <textarea class="form-control" id="description" name="description" rows="4"></textarea>
  </div>
  <div class="form-group">
    <label for="content">文章内容</label>
    <div id="editor">
      
    </div>
    <textarea id="content" name="content" class="form-control" rows="1" style="visibility: hidden; height:0">
    </textarea>
  </div>
  <button type="submit" class="btn btn-default" id="submit">添加</button>
  <img src="" id="img">
</form>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/public/js/wangEditor.min.js"></script>
<script type="text/javascript">
  var E = window.wangEditor
  var editor = new E('#editor')
  editor.customConfig.customUploadImg = function (files, insert) {
    // files 是 input 中选中的文件列表
    imgZip(files[0])

    setTimeout(function () {
      var formData = new FormData();
      formData.append('upload', img);
      $.ajax({
        url: '/upload',
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
          // insert 是获取图片 url 后，插入到编辑器的方法
          insert(data.url)
        }
      })
    }, 200)
  }
  editor.create()
  $('#submit').on('click', function (e) {
    if (editor.txt.html().indexOf("'") === -1) {
      $('#content').val(editor.txt.html())
      return true
    } else {
      alert('文章内容中不能存在单引号')
      return false
    }
  })

  // 图片处理
  // file 图片文件对象
  var img = {}
  function imgZip (file) {
    var base64 = ''
    //图片读取
    var r = new FileReader()
    r.readAsDataURL(file)
    r.onload = function () {
      //利用canvas图片压缩
      var cvs = document.createElement('canvas')
      var ctx = cvs.getContext('2d')
      var image = new window.Image()
      image.src = this.result  //this.result是readAsDataURL读取结果
      image.onload = () => {
        cvs.width = image.width > 810 ? 810 : image.width
        cvs.height = image.height / image.width * cvs.width
        setTimeout(() => {
          ctx.drawImage(image, 0, 0, cvs.width, cvs.height)

          //转为base64
          base64 = cvs.toDataURL('image/jpeg', 0.8)

          //转为二进制图片
          cvs.toBlob(function (blob) {
            img = blob
            img.name = file.name
          },'image/jpeg', 0.8)

        }, 0)
      }

    }
  }
</script>
{% endblock %}