<!-- 博客HTML -->

<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ID=edge">
  <meta name="viewport" content="width=device-width,minitial-scale=1, maximum-scale=1, user-scalable=no">
  <title>倪俊的博客</title>
  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="blog-css.css" rel="stylesheet" type="text/css">
  <!-- <script src="../../ckeditor/ckeditor.js"></script> -->
  <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
</head>
<body ng-controller="updata">

  <nav class="navbar navbar-inverse con"><!-- 导航 -->
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="http://www.nijun.top:3000" class="navbar-brand">NiJun</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active cont-a"><a href="javascript:void(0)" ng-click="uphome()">首页<span class="sr-only">(current)</span></a></li>
          <li class="cont-a"><a href="javascript:void(0)" ng-click="uphtml()">HTML/CSS</a></li>
          <li class="cont-a"><a href="javascript:void(0)" ng-click="upjs()">JavaScript</a></li>
          <li class="cont-a"><a href="javascript:void(0)" ng-click="upother()">其他相关</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="cont-a"><a href="javascript:void(0)" id="newart">新建博文</a></li>
          <li><a href="javascript:void(0)" id="exit-btn">退出</a></li>
          <li><a href="javascript:void(0)" id="callme-btn" data-toggle="modal" data-target="#callme">联系我</a></li>
          <li><a href="javascript:void(0)" id="login-btn" data-toggle="modal" data-target="#login">登录</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav><!-- 导航 -->

  <div class="container" id="content-w"><!-- 内容盒子 -->

    <canvas id="clock" width="150" height="150"></canvas>

    <div id="linkbox">
      <h5>友情链接</h5>
      <ul>
        <li><a href="http://www.nijun.top" class="link">个人简历</a></li>
        <li><a href="https://github.com/nijun008" class="link">GitHub</a></li>
      </ul>
    </div>

    <div class="container content cont-act" id="home"><!-- 首页 -->
      <div class="article-box" ng-repeat="art in arts">
        <h4><a class="art-title" href="javascript:void(0)">{{art.title}}</a></h4>
        <p class="info">
          <span class="author">{{art.author}}</span>
          <span class="time">{{art.time}}</span>
          标签:<span class="tag">{{art.tag}}</span>
          文章id:<span class="id">{{art._id}}</span></p>
        <p class="txt" ng-bind-html="art.txt | trustHtml"></p>
        <a class="more" href="javascript:void(0)">展开全文</a>
        <a class="edit" href="javascript:void(0)">修改</a>
      </div>
    </div>

    <div class="container content" id="html/css"><!-- HTML/CSS -->
      <div class="article-box" ng-repeat="htmlart in htmlarts">
        <h4><a class="art-title" href="javascript:void(0)">{{htmlart.title}}</a></h4>
        <p class="info">
          <span class="author">{{htmlart.author}}</span>
          <span class="time">{{htmlart.time}}</span>
            标签:<span class="tag">{{htmlart.tag}}</span>
            文章id:<span class="id">{{htmlart._id}}</span></p>
        <p class="txt" ng-bind-html="htmlart.txt | trustHtml"></p>
        <a class="more" href="javascript:void(0)">展开全文</a>
        <a class="edit" href="javascript:void(0)">修改</a>
      </div>
    </div>
    <div class="container content" id="javascript"><!-- JS -->
      <div class="article-box" ng-repeat="jsart in jsarts">
        <h4><a class="art-title" href="javascript:void(0)">{{jsart.title}}</a></h4>
        <p class="info">
          <span class="author">{{jsart.author}}</span>
          <span class="time">{{jsart.time}}</span>
          标签:<span class="tag">{{jsart.tag}}</span>
          文章id:<span class="id">{{jsart._id}}</span></p>
        <p class="txt" ng-bind-html="jsart.txt | trustHtml"></p>
        <a class="more" href="javascript:void(0)">展开全文</a>
        <a class="edit" href="javascript:void(0)">修改</a>
      </div>
    </div>

    <div class="container content" id="other"><!-- 其他 -->
      <div class="article-box" ng-repeat="otherart in otherarts">
        <h4><a class="art-title" href="javascript:void(0)">{{otherart.title}}</a></h4>
        <p class="info">
          <span class="author">{{otherart.author}}</span>
          <span class="time">{{otherart.time}}</span>
          标签:<span class="tag">{{otherart.tag}}</span>
          文章id:<span class="id">{{otherart._id}}</span></p>
        <p class="txt" ng-bind-html="otherart.txt | trustHtml"></p>
        <a class="more" href="javascript:void(0)">展开全文</a>
        <a class="edit" href="javascript:void(0)">修改</a>
      </div>
    </div>

    <div class="container content" id="new-art"><!-- 新建博文 -->
      <div>
      <label class="login-lab" for="edi-art-title">文章标题</label>
        <input type="email" class="form-control" id="edi-art-title" placeholder="文章标题">
      </div>
      <p></p>
      <form class="form-inline">
        <div class="form-group">
          <label class="login-lab" for="edi-art-author">作者/来源</label>
          <input type="text" class="form-control" id="edi-art-author" placeholder="作者/来源">
        </div>
         <label class="login-lab" for="edi-art-tag">文章标签</label>
         <select class="form-control" id="edi-art-tag">
          <option>html/css</option>
          <option>javascript</option>
          <option>other</option>
        </select>
        <p></p>
      </form>
      <span id="edi-art-id"></span>
      <span id="edi-art-time"></span>
      <textarea name="edi_art_txt" id="edi_art_txt"></textarea>
      <script type="text/javascript">
        CKEDITOR.replace('edi_art_txt');
      </script>
      <p></p>
      <button type="button" class="btn btn-primary" ng-click="uphome()" id="edi-submit">保&nbsp;存</button>
      <button type="button" class="btn btn-danger" id="edi-cancel">取&nbsp;消</button>
    </div>

  </div><!-- 内容盒子 -->

  <div class="modal fade" tabindex="-1" role="dialog" id="callme"><!-- 联系我 -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">联系我</h4>
        </div>
        <div class="modal-body">
          <p><a href="mailto:87179471@qq.com?subject=嗨！倪俊&body=倪俊，你好！我看到你的博客...">87179471@qq.com</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="login"><!-- 登录 -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">登录</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="login-lab" for="username">用户名</label>
              <input type="text" class="form-control" id="username" placeholder="username">
            </div>
            <div class="form-group">
              <label class="login-lab" for="password">密码</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="checkbox">
              <label class="login-lab">
                <input type="checkbox">记住密码
              </label>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="login-submit">登&nbsp;录</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="controller.js"></script>
  <script src="blog-js.js"></script>
  <script>

  </script>
</body>
</html>