/*博客样式*/

body{
  padding-bottom: 50px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #f6f6f6;
}
a:focus {
outline: none;
}
.navbar{
  border-radius: 0;
}
.navbar a{
  font-weight: 600;
}
/*文章部分*/
.article-box{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 30px;
  /*margin-right: 170px;*/
}
.art-title:link{
  color: #225599;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.art-title:visited{
  color: #225599;
  text-decoration: none;
}
.art-title:hover{
  color: #225599;
  text-decoration: none;
}
.art-title:active{
  color: #225599;
  text-decoration: none;
}
.info{
  color: gray;
  margin-bottom: 30px;
  margin-top: 25px;
}
.txt{
  height: 3.5em;
  overflow: hidden;
}
.more:link{
  font-size: 12px;
  color: gray;
  text-decoration: none;
}
.more:visited{
  color: gray;
  text-decoration: none;
}
.more:hover{
  color: #3399ff;
  text-decoration: none;
}
.more:active{
  color: gray;
  text-decoration: none;
}
blockquote{
  background-color: #eee;
}



#content-w{
  padding: 0;
}
.content{
  display: none;
  padding-right: 190px;
}
.cont-act{
  display: block;
}
.login-lab{
  margin-left: 13px;
}
.modal-title{
  text-align: center;
}
/*新建博文按钮,退出按钮*/
#newart,#exit-btn{
  display: none;
}

#clock{
  float: right;
  background-color: #f6f6f6;
  margin-right: 20px;
  display: block;
}

/*媒体查询*/
@media screen and (max-width: 768px) {
  .content{
    padding-right: 15px;
  }
  #clock{
    /*display: none;*/
    float: none;
    margin: auto;
  }
}