/*博客样式*/


a:focus {
outline: none;
}
#content-w{
  padding: 0;
  position: relative;

}
.content{
  display: none;
}
.cont-act{
  display: block;
}
.txt{
  height: 3em;
  overflow: hidden;
}
.login-lab{
  margin-left: 13px;
}
.modal-title{
  text-align: center;
}